body {
   font-family: Arial, sans-serif;
   background-color: rgb(255, 255, 255);
   margin: 0;
   padding: 0;
}
header {
   background-color: #162544;
   color: rgb(255, 255, 255);
   padding: 10px 0;
   position: fixed absolute;
   width: 100%;
   top: 0;
   z-index: 100;
   display: flex;
   align-items: center;
   font-size: 20px;
}


.navbar {
   max-width: 800px;
   margin-left: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navbar:hover{
  color: rgb(132, 0, 255);
  font-style: oblique;
}

.logo-img {
   width: 300px;
   height: auto;
   border-radius: 7px;
   margin-left: 50px;
   padding: 2%;
}


.nav-links {
   list-style: none;
   padding: 0;
   margin: 0;
}


.nav-links li {
   display: inline;
   margin-right: 100px;
}


.nav-links li a {
   color: rgb(255, 255, 255);
   text-decoration: none;
}

.nav-links li a:hover{
  color: rgb(173, 64, 247);
  font-size: 23px;
  font-style: initial;
}
.content {
   margin-top: 0px; 
}


.footer {
   background-color: rgb(0, 247, 255);
   align-items: center;
   color: rgb(0, 0, 0);
   padding: 20px;
   bottom: 0;
   left: 0;
   right: 0;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.inicio {
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 50vw;
  background-image: url("https://i.ibb.co/HpW9KCp/Office-laptop-programming-coffee-4-K-3840x2400-fotor-202310187354.jpg");
  background-repeat: no-repeat;
  color: #f5f5f5;
  background-size: cover;

}

.inicio h1 {
  padding: 10% 0% 3% 0%;
  font-size: 50px;
}

.inicio p {
  padding: 0% 15% 3% 15%;
  font-size: 30px;
}

.matricular {
  background-color: rgb(0, 0, 0, 0);
  color: #ffffff;
  font-size: 16px; 
  padding: 10px 20px; 
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 40px;
}

.matricular:hover {
  background-color: #162544; 
}

main {
    
}


footer {
    width: 100%;
    color: var(--color-neutral-40);
    align-items: center;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    padding: 3rem 2rem;
    display: flex;
  
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display:flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0 5% 0 5%;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}
